#loginbody,
#signupbody {
  position: absolute;
  top: 15%;
  width: 60%;
  height: auto;
  left: 20%;
  box-shadow: 0.2604vw 0vw 0.2604vw 0.2604vw rgba(0, 0, 0, 0.25);
}

.logintab {
  left: 28.75%;
  margin-top: 1%;
  font-family: Abel;
  font-size: 3.255vw;
  line-height: 4.166vw;
  letter-spacing: -0.015em;
}
.signuptab {
  position: absolute;
  left: 59%;
  top: 1%;
  font-family: Abel;
  font-size: 3.255vw;
  line-height: 4.166vw;
  letter-spacing: -0.015em;
}
.horizontal-line {
  margin-top: 0.0651vw;
  margin-left: 24%;
  height: 0.0651vw;
  width: 20%;
}
.horizontal-line2 {
  margin-top: -0.0651vw;
  margin-left: 56%;
  height: 0.0651vw;
  width: 20%;
}

.accountlabel-f {
  margin-top: 1%;
  margin-left: 8%;
  font-family: Abel;
  font-size: 1.9vw;
  line-height: 2.53vw;
  letter-spacing: -0.015em;
}
.accountlabel-l {
  margin-top: 1%;
  margin-left: 35%;
  font-family: Abel;
  font-size: 1.9vw;
  line-height: 2.53vw;
  letter-spacing: -0.015em;
}
.accountinput-s {
  width: 40%;
  height: 2.3vw;
  padding: 0.5vw;
  margin-top: 1%;
  margin-left: 6.6%;
  background: #ffffff;
  border: 0.0651vw solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 0.65vw;
}

.accountinput-l {
  width: 86.6%;
  height: 2.3vw;
  margin-top: 1%;
  margin-left: 6.6%;
  background: #ffffff;
  border: 0.0651vw solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 0.65vw;
}
.accountinput {
  outline: none;
}
.accountinput::placeholder {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 0.86vw;
  line-height: 1vw;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.3);
}
#remember-me {
  margin-left: 6.6%;
  margin-right: 0.5%;
  margin-top: 2%;
}
#remember-label {
  font-family: Abel;
}
.enterbtn {
  width: 70%;
  height: 2.3vw;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 5%;
  background: #333333;
  border: 0.0651vw solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 0.65vw;
  transition: box-shadow 250ms;
}
.enterbtn:hover {
  box-shadow: 0 0.78vw 1.04vw 0 rgba(0, 0, 0, 0.24),
    0 1.106vw 3.25vw 0 rgba(0, 0, 0, 0.19);
}

.enterbtn p {
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 1.8vw;
  text-align: center;
  letter-spacing: -0.015em;
}
.show,
.show2,
.show3 {
  cursor: pointer;
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5vw;
  line-height: 1.8vw;
  letter-spacing: -0.015em;

  opacity: 0.5;
  z-index: 2;
  transition: opacity 250ms;
}
.show {
  margin-left: -53%;
  width: 6%;
  display: inline-block;
  margin-bottom: -2%;
}
.show2 {
  margin-left: 41%;
  width: 6%;
  display: inline-block;
}
.show3 {
  margin-left: -6%;
  width: 6%;
  display: inline-block;
  margin-bottom: -2%;
}
.show:hover,
.show2:hover,
.show3:hover {
  color: #222c6a;
  opacity: 1;
}
