img {
  margin-right: 0.5em;
  background-color: white;
}

#account {
  color: grey;
  outline: none;
}

#points {
  background-color: whitesmoke;
  color: grey;
  border: 1px solid grey;
  position: absolute;
  right: 1.1em;
  bottom: 0.7em;
  outline: none;
  transition: background-color 250ms, color 250ms;
}
#points:hover {
  background-color: grey;
  color: whitesmoke;
}

footer {
  position: absolute;
  bottom: 0;
}
