#promotion img {
  box-sizing: border-box;
  border-radius: 1em;
  width: 100%;
}

#promotion-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#prize-categories {
  overflow: auto;
  white-space: nowrap;
}
#prize-categories Button {
  display: inline-block;
  min-width: 14em;
}

.prize-name {
  min-height: 7em;
}

#prize-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
