#store * {
  font-family: Arial;
}

#promotion img {
  box-sizing: border-box;
  border-radius: 1em;
  width: calc(100% - 2.5em);
}

#prize-categories {
  overflow: auto;
  white-space: nowrap;
}
#prize-categories Button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 14em;
}

.prize Button {
  border-radius: 1em;
}
.prize img {
  mix-blend-mode: multiply;
}
.prize-name {
  min-height: 7em;
}
