#loginbody,
#signupbody,
#logout {
  width: 100%;
  margin-top: 1%;
  font-family: Abel;
  box-shadow: 0.2604vw 0vw 0.2604vw 0.2604vw rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 768px) {
  #loginbody,
  #signupbody,
  #logout {
    position: absolute;
    top: 15%;
    width: 60%;
    height: auto;
    left: 20%;
  }
}

.logintab,
.logintab Button {
  left: 28.75%;
  margin-top: 1%;
  font-family: Abel;
  font-size: 3.255vw;
  line-height: 4.166vw;
  letter-spacing: -0.015em;
}
.logintab2,
.logintab2 Button {
  left: 28.75%;
  font-family: Abel;
  font-size: 3.255vw;
  line-height: 4.166vw;
  letter-spacing: -0.015em;
}
.signuptab,
.signuptab Button {
  position: absolute;
  left: 59%;
  top: 1%;
  font-family: Abel;
  font-size: 3.255vw;
  line-height: 4.166vw;
  letter-spacing: -0.015em;
}
.horizontal-line {
  margin-top: 0.0651vw;
  margin-left: 24%;
  height: 0.0651vw;
  width: 20%;
}
.horizontal-line2 {
  margin-top: -0.0651vw;
  margin-left: 56%;
  height: 0.0651vw;
  width: 20%;
}
#logout {
  position: absolute;
  top: 20%;
  font-family: Abel;
  font-size: 3.255vw;
  line-height: 4.166vw;
  letter-spacing: -0.015em;
}
@media only screen and (max-width: 768px) {
  .logintab,
  .logintab Button,
  .logintab2,
  .logintab2 Button,
  .signuptab,
  .signuptab Button,
  .horizontal-line,
  .horizontal-line2 {
    display: none;
  }
}

.accountlabel-f {
  margin-top: 1%;
  margin-left: 8%;
}
.accountlabel-l {
  margin-top: 1%;
  margin-left: 35%;
}
.accountinput-s {
  font-size: 12px;
  width: 40%;
  margin-top: 1%;
  margin-left: 6.6%;
  background: #ffffff;
  border: 0.0651vw solid rgba(0, 0, 0, 0.8);
  border-radius: 0.65vh;
  box-sizing: border-box;
}
.accountinput-l {
  font-size: 12px;
  width: 86.6%;
  margin-top: 1%;
  margin-left: 6.6%;
  background: #ffffff;
  border: 0.0651vw solid rgba(0, 0, 0, 0.8);
  border-radius: 0.65vh;
  box-sizing: border-box;
}
.accountinput {
  outline: none;
}
.accountinput::placeholder {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 768px) {
  .accountlabel-f {
    font-size: 1.9vw;
    line-height: 2.53vw;
    letter-spacing: -0.015em;
  }
  .accountlabel-l {
    font-size: 1.9vw;
    line-height: 2.53vw;
    letter-spacing: -0.015em;
  }
  .accountinput-s {
    font-size: 1.5vw;
    height: 2.3vw;
    padding: 0.5vw;
    border-radius: 0.65vw;
  }
  .accountinput-l {
    font-size: 1.5vw;
    height: 2.3vw;
    border-radius: 0.65vw;
  }
  .accountinput::placeholder {
    font-size: 0.86vw;
    line-height: 1vw;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.3);
  }
}
#remember-me {
  margin-left: 6.6%;
  margin-right: 0.5%;
  margin-top: 2%;
}

.enterbtn {
  width: 70%;
  height: 3.8vh;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 5%;
  background: #333333;
  border: 0.0651vw solid rgba(0, 0, 0, 0.8);
  border-radius: 0.65vh;
  box-sizing: border-box;
}
.enterbtn:hover {
  box-shadow: 0 0.78vw 1.04vw 0 rgba(0, 0, 0, 0.24),
    0 1.106vw 3.25vw 0 rgba(0, 0, 0, 0.19);
}
.enterbtn p {
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vh;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .enterbtn {
    height: 2.3vw;
    border-radius: 0.65vw;
    transition: box-shadow 250ms;
  }
  .enterbtn p {
    font-size: 2vw;
    line-height: 1.8vw;
    letter-spacing: -0.015em;
  }
}

#show,
#show2,
#show3 {
  cursor: pointer;
  font-weight: normal;
  font-style: italic;
  font-size: 10px;
  opacity: 0.5;
  z-index: 2;
  transition: opacity 250ms;
}
#show:hover,
#show2:hover,
#show3:hover {
  color: #222c6a;
  opacity: 1;
}
#show {
  margin-left: -54%;
  width: 6%;
  display: inline-block;
  margin-bottom: -2%;
}
#show2 {
  margin-left: 41%;
  width: 6%;
  display: inline-block;
}
#show3 {
  margin-left: -7%;
  width: 6%;
  display: inline-block;
  margin-bottom: -2%;
}
@media only screen and (min-width: 768px) {
  #show {
    margin-left: -53%;
  }
  #show2 {
    margin-left: 41%;
  }
  #show3 {
    margin-left: -6%;
  }
  #show,
  #show2,
  #show3 {
    font-size: 1.5vw;
    line-height: 1.8vw;
    letter-spacing: -0.015em;
  }
}

@media only screen and (min-width: 768px) {
  #logout Button {
    font-size: 2.1vw;
    letter-spacing: -0.015em;
  }
}
